<link rel="stylesheet" href="/public/listbooks.css">
<% books.forEach(book=>{ %>
    <% 
 function differentiateYoursAndHis(){
    if((typeof name!=='undefined' )&& (book.created_by == id)){
        return 'red';
    } else return 'green';
}
%>
        <div class="elements">
            <div class='inner-ele'>
                <input type="checkbox" class="checkbox <%= differentiateYoursAndHis() %>" name="selectbooks" value="<%= book._id %>" id="<%= book._id %>">
                <label for="<%= book._id %>">
                <div>
                    <h5>
                        <%= book.title %>
                    </h5>
                    <h5>
                        <%= book.desc %>
                    </h5>
                    <h5>from
                        <%= book.username %> in
                            <%= book.location %>
                    </h5>
                </div>
                </label>
            </div>
            <% if((typeof name!=='undefined' )&& book.created_by == id){ %>
                <a href="/deletebook?id=<%= book._id %>">delete</a>
                <% } %>
        </div>

        <% }) %>