<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Trading - Profile</title>
    <style>
    .link{
    background-color: rgba(157, 231, 160,0.4); /* Green */
            cursor: pointer;
            border: none;
            color: black;
            padding: 10px 10px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
        }
    </style>
</head>

<body>
    <%- include('navbar.ejs') %>

        <br>
        <br>
        <h3>
            <%= user.name %>'s profile
        </h3>

        <p>
            Username:
            <%= user.username %><br>
                Full Name:
                <%= user.name %><br>
                    Location:
                    <%= user.location %><br>
        </p>
        <% if(typeof name!=='undefined' && user.name==name){%>
        <div>
            <a class="link" href="/books/my">Your books</a>
            <a class="link" href="/users/edit">Edit your profile</a>
        </div>
        <% } %>
</body>

</html>